#contact-us-content {
  margin: auto;
  padding: 60px 50px;

  > .container {
    max-width: 1050px;
  }

  @include media-breakpoint-down (lg) {
    padding: 60px 36px;
  }
  
  @include media-breakpoint-down (sm) {
    padding: 50px 30px;
  }
}

.form-group-department {
  .form-check {
    margin-right: 0;

    &:first-of-type {
      padding-right: 4px;
    }

    &:last-of-type {
      padding-left: 4px;
    }
  }
}

.contact-info-fieldset {
  .form-group {
    margin-bottom: 9px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.contact-location {
  @include media-breakpoint-up(lg) {
    margin-left: auto;
    max-width: 351px;
  }
}

.contact-business-info {
  padding-top: 20px;

  > div {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .business-info-container {
    .icon-model-clock {
      padding-top: 2px;
    }

    [class^="icon-model"],
    [class*=" icon-model"] {
      color: $secondary;
    }

    .business-info-copy {
      font-size: 16px;
    }
  }
}

.map-container {
  iframe {
    width: 100%;

    @include media-breakpoint-down (md) {
      max-width: 351px;
    }
  }
}