#footer-contents {
  background-color: $black;
  padding: 45px 50px;
  color: $white;

  @include media-breakpoint-down(lg) {
    padding-left: 36px;
    padding-right: 36px;

    >.container {
      max-width: 100%;
      >* {
        flex: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

footer {
  .nav-link {
    color: $white;
    font-size: 15px;

    &:hover, &:focus {
      color: $gray-500;
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar-nav {
      flex-direction: row;
    }
  }

  @include media-breakpoint-down(lg) {
    .nav-item {
      text-align: center;
    }

    .nav-link {
      font-size: 14px;
      padding: 4px 0;
    }
  }
}

#footer-site-identity {
  @include media-breakpoint-down(md) {
    width: 132px;
    height: 37px;
  }
}

.footer-awards {
  text-align: right;

  @include media-breakpoint-down(lg) {
    > img {
      width: 67px;
      height: 149px;
    }
  }
}

.footer-logo-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    font-size: 14px;
    padding: 10px 16px;
  }
}

.footer-business-info {
  >div {
    margin-bottom: 20px;
  
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.business-info-container {
  display: flex;
  align-items: flex-start;

  .icon-model-location {
    font-size: 1.2em;
    padding-top: 3px;
  }

  .icon-model-phone {
    padding-top: 3px;
  }

  .icon-model-clock {
    padding-top: 1px;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  width: 17px;
  text-align: center;
}

.business-info-copy {
  padding-left: 9px;
  font-size: 14px;
}

@include media-breakpoint-down(lg) {
  #footer-contents > .container {
    flex-wrap: wrap;

    > * {
      flex: unset;
    }
  }

  .footer-logo-nav {
    width: 100%;
    order: 1;
    margin-bottom: 60px;
  }

  .footer-business-info {
    order: 2;
  }

  .footer-awards {
    order: 3;
  }
}

.footer-business-info, .footer-awards {
  @include media-breakpoint-up(lg) {
    width: 25%;
  }
}