form {
  font-size: 16px;
}

::-webkit-input-placeholder {
  font-size: 16px !important;
  color: #000000 !important;
  opacity: 0.7 !important;
}

::-ms-input-placeholder {
  font-size: 16px !important;
  color: #000000 !important;
  opacity: 0.7 !important;
}

::placeholder {
  font-size: 16px !important;
  color: #000000 !important;
  opacity: 0.7 !important;
}

legend {
  font-size: 1rem;
  font-family: Inter-SemiBold;
  color: $secondary;
  float: none;
}


input,
textarea,
.form-control {
  padding: 10px 15px;
  border-radius: 2px;
  border-color: #CECECE;
  
  &:focus {
    border-color: $secondary;
    box-shadow: none;
  }
}

.form-radio-button {
  position: relative;
  padding: 0;
  margin-right: 8px;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background-color: #EFEFEF;
    border: 1px solid #CECECE;
    border-radius: 4px;
    font-family: Inter-SemiBold;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: all 0.15s linear;

    &:hover {
      border-color: $secondary;
    }
  }

  input {
    position: absolute;
    left: 0;
    float: none !important;
    margin-left: 0 !important;
    opacity: 0;

    &:checked+label {
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
    }
  }
}

.form-label {
  text-align: left;
}

.col-form-label,
.form-label {  
  font: normal normal bold 1em/2.0em Inter-Bold;
  letter-spacing: 0px;
  color: #000000;

  &.read-only {    
    font: normal normal bold .75em/1.35em Inter-Bold;    
    color: #6E7073;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &.req {
    &::after {
      content: '*';
      margin-left: 3px;
      color: $primary;
    }
  }
}

.form-section {
  .form-section-header{
    h4 {
      text-align: left;
    }
    .over-score {
      line-height: .5;
    }
  }

  .label-postscript {
    text-align: left;
    font: italic normal normal 1em/4em Inter-Regular;
    letter-spacing: 0px;
    color: #6C6C6C;
  }
}