#homepage-hero-carousel {
  .carousel-item-content {
    padding: 100px 50px;


    @include media-breakpoint-up(lg) {
      min-height: 42.5vw;
    }
  
    @include media-breakpoint-up(xl) {
      min-height: 680px;
    }

    @include media-breakpoint-down(lg) {
      padding: 80px 36px;
    }

    @include media-breakpoint-down(sm) {
      padding: 70px 30px;

      .btn {
        font-size: 17px;
      }
    }
  }
}

.homepage-hero {
  display: flex;
  align-items: center;
  background-image: url(../images/model-electronics-premiere-automotive-service-center-OEM-homepage-hero@2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
}

.homepage-hero-lead {
  font-family: "Inter-SemiBold";
  font-size: 24px;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

.homepage-hero-title {
  font-family: "Inter-ExtraBold";
  font-size: 80px;
  max-width: 760px;
  line-height: 1.1;
  color: $white;

  &:before, &:after {
    display: none;
  }

  @include media-breakpoint-down(xl) {
    font-size: 65px;
    max-width: 600px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 52px;
    max-width: 500px;
  }

  @include media-breakpoint-down(md) {
    font-size: 46px;
    max-width: 100%;
  }
  
  @include media-breakpoint-down(sm) {
    font-size: 38px;
  }

  @media screen and (max-width: 400px) {
    font-size: 9vw;
  }
}

//Model Difference bar
.model-difference-bar {
  background-color: $black;

  .container {
    padding: 32px 0px;

    @include media-breakpoint-down (md) {
      padding: 30px 36px;
    }

    @include media-breakpoint-down (sm) {
      padding: 30px 30px;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    border-left: 1px solid #414141;
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;

    img {
      margin-bottom: 12px;
      width: 100%;
      max-height: 48px;
    }

    span {
      line-height: 1.1;
    }

    &:first-of-type {
      border-left: 0 !important;
    }

    @include media-breakpoint-down (md) {
      font-size: 14px;
      padding: 0 26px;

      img {
        max-height: 36px;
      }
    }

    @include media-breakpoint-down (sm) {
      font-size: 12px;
      border-left: 0;
      padding: 0 21px;
      justify-content: center;

      img {
        max-height: 30px;
      }
    }
  }
}

//Model Services
#model-services {
  padding: 100px 50px;
  background-image: url('../images/model-electronics-services@2x.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  > .container {
    max-width: 900px;
  }

  .checklist-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(xxl) {
    min-height: 857px;
  }

  @include media-breakpoint-down(lg) {
    padding: 80px 36px;
  }

  @include media-breakpoint-down(sm) {
    padding: 50px 30px;
  }

  .checklist {
    font-family: Inter-SemiBold;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      max-width: 350px;
      margin: auto;
    }
  }
}

//News
#news {
  background-color: $model-light-blue;

  picture {
    position: relative;
    display: block;
  }
}

//Trusted Partner
#trusted-partner {
  position: relative;
  padding: 200px 50px;

  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.8;
    background-image: url('../images/circuit-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;

    @include media-breakpoint-up(xxl) {
      opacity: 0.5;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      opacity: 1;
      background-position: top right;
      background-size: 80vw;      
    }
  }

  @include media-breakpoint-down(xxl) {
    padding: 140px 50px;
  }

  @include media-breakpoint-down(lg) {
    padding: 100px 36px;
  }
  
  @include media-breakpoint-down(sm) {
    padding: 50px 30px;
  }
}

#partner-badges {
  > .row > div {
    max-width: 140px;
  }
}

.partner-badge {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.partner-badge-content {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter-ExtraBold';
  color: $white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: $black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);


  span {
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    opacity: 0.3;
    top: 0;
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255, 255, 255, 0));
    z-index: 0;
  }

  .gm & {
    background-color: #194390;
  }

  .nissan & {
    background-color: #C3002F;
  }

  .aptiv & {
    background-color: #070707;
  }

  .ford & {
    background-image: linear-gradient(#1B8CC5, #01123D);

    &:before {
      opacity: 0;
    }
  }

  .infiniti & {
    background-color: #000000;
  }

  .kia & {
    background-color: #C3002F;
  }

  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

//Outstanding Reputation
#reputation {
  background-color: $model-light-blue;
}

//Contact
#contact-cta {
  padding: 70px 50px;

  @include media-breakpoint-down(lg) {
    padding: 60px 36px;
  }

  @include media-breakpoint-down(md) {
    padding: 50px 30px;
  }
}

.contact-cta-hours,
.contact-cta-phone {
  color: $secondary;
  
  a {
    color: $secondary;
  }
}